
  <div>
    <h1>
      Please comment the ingredients that you have
    </h1>
  </div>
  
    <form action="/recipe">
      <div>
        <label for="ingredients_id_box">
          Ingredients
        </label>

        <input type="text" id="user_id_box" name="input_user_ingredients">
      </div>

      <button>
        Suggest me a recipe
      </button>
    </form>
